name: Run unit tests
on: push

env: 
  PGPASSWORD: postgres

jobs:
  run_tests:
    runs-on: ubuntu-latest
    
    #Defining the Postgres DB service we will need to run the unit tests
    services:
      postgres:
        image: postgres:13-bullseye
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.6"
      - name: Install poetry
        run: |
            curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
            source $HOME/.poetry/env
            poetry install -vv
