name: Security Pipeline
on: [workflow_call]

jobs:
  # Superlint a simple combination of various linters, written in bash, to help validate source code.
  Superlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Lint Repo
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Secrets detection is calling the Yelp Secrets Detector we use in pre-commit to ensure proper coverage
  secrets-detection:
    runs-on: 'ubuntu-latest'
    steps:
      - name: secrets detect
        uses: RobertFischer/detect-secrets-action@v2.0.0

      - name: Report Status
        if: failure()
        uses: act10ns/slack@v1.6.0
        with:
          channel: '#infosec-alerts'
          status: ${{ job.status }}
        env:
          webhook-url: ${{ secrets.ACTION_MONITORING_SLACK }}

  # Snyk native integration doesn't support poetry.lock files - this runs a check if a poetry.lock is found then runs a CLI scan to add coverage.
  Poetry_file_existence:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "poetry.lock"

      - name: Poetry Found
        if: ${{ steps.check_files.outputs.files_exists == 'true' || github.ref != 'refs/heads/master'
        # Only runs if all of the files exists
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SRVC_SNYKGITACTION }}
        with:
          command: test
          args: --org=plan-x --severity-threshold=high --fail-on=upgradable
      - name: Snyk UI upload
        uses: snyk/actions/python@master
        if: github.ref == 'refs/heads/master'
        env:
          SNYK_TOKEN: ${{ secrets.SRVC_SNYKGITACTION }}
        with:
          command: monitor
          args: --org=plan-x
